<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kelab.problemcenter.dal.dao.ProblemSubmitRecordMapper">
    <resultMap id="BaseResultMap" type="com.kelab.problemcenter.dal.model.ProblemSubmitRecordModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="problem_id" property="problemId" jdbcType="INTEGER"/>
        <result column="time_used" property="timeUsed" jdbcType="INTEGER"/>
        <result column="memory_used" property="memoryUsed" jdbcType="INTEGER"/>
        <result column="compiler_id" property="compilerId" jdbcType="INTEGER"/>
        <result column="code_length" property="codeLength" jdbcType="INTEGER"/>
        <result column="source" property="source" jdbcType="LONGVARCHAR"/>
        <result column="error_message" property="errorMessage" jdbcType="LONGVARCHAR"/>
        <result column="submit_time" property="submitTime" jdbcType="BIGINT"/>
    </resultMap>


    <sql id="Sample_Column_List">
        `id`, `status`, `user_id`, `problem_id`, `time_used`, `memory_used`, `submit_time`, `compiler_id`, `code_length`
    </sql>
    <sql id="Detail_Column_List">
         `source`,`error_message`
    </sql>

    <sql id="LIMIT_SQL">
        limit ${(query.page - 1) * query.rows}, ${query.rows}
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        select
        <include refid="Sample_Column_List"/>
        from `Problem_submit_record`
        where 1 = 1
        <if test="query.userId != null">
            and `user_id` = #{query.userId, jdbcType=INTEGER}
        </if>
        <if test="query.problemId != null">
            and `problem_id` = #{query.problemId, jdbcType=INTEGER}
        </if>
        <if test="query.status != null">
            and `status` = #{query.status, jdbcType=INTEGER}
        </if>
        <if test="query.compilerId != null">
            and `compiler_id` = #{query.compilerId, jdbcType=INTEGER}
        </if>
        order by `id` desc
        <include refid="LIMIT_SQL"/>
    </select>

    <select id="queryTotal" resultType="java.lang.Integer">
        select
        count(*)
        from `Problem_submit_record`
        where 1 = 1
        <if test="query.userId != null">
            and `user_id` = #{query.userId, jdbcType=INTEGER}
        </if>
        <if test="query.problemId != null">
            and `problem_id` = #{query.problemId, jdbcType=INTEGER}
        </if>
        <if test="query.status != null">
            and `status` = #{query.status, jdbcType=INTEGER}
        </if>
        <if test="query.compilerId != null">
            and `compiler_id` = #{query.compilerId, jdbcType=INTEGER}
        </if>
    </select>

    <select id="queryByIds" resultMap="BaseResultMap">
        select
        <include refid="Sample_Column_List"/>,
        <include refid="Detail_Column_List"/>
        from `Problem_submit_record`
        where id in
        <foreach collection="ids" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <insert id="saveSubmitRecord" useGeneratedKeys="true" keyProperty="id">
        insert into `Problem_submit_record`
        (`status`, `user_id`, `problem_id`, `time_used`, `memory_used`,
         `submit_time`, `compiler_id`, `code_length`, `source`)
        values
        (#{record.status, jdbcType=INTEGER}, #{record.userId, jdbcType=INTEGER}, #{record.problemId, jdbcType=INTEGER},
         #{record.timeUsed, jdbcType=INTEGER}, #{record.memoryUsed, jdbcType=INTEGER},
        #{record.submitTime, jdbcType=BIGINT}, #{record.compilerId, jdbcType=INTEGER},
        #{record.codeLength, jdbcType=INTEGER}, #{record.source, jdbcType=VARCHAR})
    </insert>

    <resultMap id="OnlineStatisticResultMap" type="com.kelab.info.usercenter.info.OnlineStatisticResult">
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <result column="total_login" property="totalLogin" jdbcType="INTEGER"/>
        <result column="submit_ac" property="submitAc" jdbcType="INTEGER"/>
        <result column="submit_all" property="submitAll" jdbcType="INTEGER"/>
    </resultMap>

    <select id="countSubmitDay" resultMap="OnlineStatisticResultMap">
       SELECT
        FROM_UNIXTIME(`submit_time` / 1000, '%H') AS `time`,
		count(*) AS submit_all
        FROM
        `Problem_submit_record`
        WHERE
        `submit_time` BETWEEN #{startTime} AND #{endTime}
        GROUP BY
        FROM_UNIXTIME(`submit_time` / 1000, '%H')
    </select>

    <select id="countAcDay" resultMap="OnlineStatisticResultMap">
       SELECT
        FROM_UNIXTIME(`submit_time` / 1000, '%H') AS `time`,
		count(*) AS submit_ac
        FROM
        `Problem_submit_record`
        WHERE
        `status` = 0
        and `submit_time` BETWEEN #{startTime} AND #{endTime}
        GROUP BY
        FROM_UNIXTIME(`submit_time` / 1000, '%H')
    </select>

    <resultMap id="UserSubmitResult" type="com.kelab.problemcenter.result.UserSubmitResult">
        <result column="name" property="name" jdbcType="INTEGER"/>
        <result column="value" property="value" jdbcType="INTEGER"/>
    </resultMap>

    <select id="countWeek" resultMap="UserSubmitResult">
       SELECT
        FROM_UNIXTIME(`submit_time` / 1000, '%w') AS `name`,
		count(*) AS `value`
        FROM
        `Problem_submit_record`
        WHERE `user_id` = #{userId}
        and `submit_time` BETWEEN #{startTime} AND #{endTime}
        GROUP BY
        FROM_UNIXTIME(`submit_time` / 1000, '%w')
    </select>

    <!--ac多少题的时间节点-->
    <resultMap id="userSubmitTimeStatistic" type="com.kelab.problemcenter.result.MilestoneResult">
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="problem_id" property="problemId" jdbcType="INTEGER"/>
        <result column="submit_time" property="submitTime" jdbcType="BIGINT"/>
    </resultMap>
    <select id="queryUserStatus" resultMap="userSubmitTimeStatistic">
        SELECT
        #{num} as `num`,
        `problem_id` as `problem_id`,
        `first_submit_time` as `submit_time`
        FROM
        (
        SELECT
        `problem_id`,
        min(`submit_time`) AS `first_submit_time`
        FROM
        `Problem_submit_record`
        WHERE
        `user_id` = #{userId}
        AND `status` = #{status}
        GROUP BY
        `problem_id`
        ORDER BY
        min(`submit_time`)
        ) tmp
         LIMIT ${num - 1}, 1
    </select>
</mapper>